<!DOCTYPE html>
<html ng-app="acuCafe">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AcuCafe </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <link rel="stylesheet" href="../../ClientApp/src/common/css/app.css">
    <link rel="shortcut icon" href="../../ClientApp/src/common/images/acuCafeLogo.png">
</head>
<body>


    @RenderBody()


    
<script src="../../ClientApp/src/core/core.module.js"></script>
<script src="../../ClientApp/src/core/config.js"></script>
<script src="../../ClientApp/src/app.js"></script>
    
<!-- Drinks Module -->
<script src="../../ClientApp/src/drinks/drinks.js"></script>
<script src="../../ClientApp/src/drinks/services/drinkService.js"></script>
<script src="../../ClientApp/src/drinks/services/optionService.js"></script>
<script src="../../ClientApp/src/drinks/services/orderService.js"></script>
<script src="../../ClientApp/src/drinks/directives/drinkDirective.js"></script>
<script src="../../ClientApp/src/drinks/controllers/drinkController.js"></script>
<script src="../../ClientApp/src/drinks/controllers/routeConfig.js"></script>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
